{% extends "base.html" %}
{% block title %}Images{% endblock %}

{% block content %}
    <div id="content">
        <div id="image-gallery" style="display:none">
            {% for image in images %}
                <img alt="{{image.title}}" src="{{ MEDIA_URL }}{{image.file}}"
                data-image="{{ MEDIA_URL }}{{image.file}}"
                data-description="{{ MEDIA_URL }}{{image.file}}">
            {% endfor%}
        </div>
       <ul class="buttons">
            <li><a href="{% url 'gallery:gallery_create' 'image' %}">Upload an image</a></li>
            <li class="button"> <a href="{% url 'gallery:homepage' %}">Home</a></li>
        </ul>
    </div>
{% endblock %}
