<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/unitegallery/css/unite-gallery.css' %}" rel="stylesheet">
        <link href="{% static 'css/unitegallery/themes/default/ug-theme-default.css' %}" rel="stylesheet">
        <link href="{% static 'css/site.css' %}" rel="stylesheet">

    </head>
    <body>
        {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li class="{{ message.tags }}">
                  {{ message|safe }}
                    <a href="#" class="close">x</a>
                </li>
              {% endfor %}
            </ul>

        {% endif %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <script type="text/javascript" src="{% static 'js/jquery/jquery-1.11.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/unitegallery/js/unitegallery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/unitegallery/themes/default/ug-theme-default.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/site/video_audio_gallery.js' %}"></script>
    </body>
</html>
