{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
    <div id="content">
        <ul class="buttons">
            <li><a href="{% url 'gallery:video_list' %}">Video Gallery</a></li>
            <li><a href="{% url 'gallery:audio_list' %}">Audio Gallery</a></li>
            <li><a href="{% url 'gallery:image_list' %}">Image Gallery</a></li>
        </ul>
    </div>
{% endblock %}
