{% extends "base.html" %}

{% block title %}
    Add new media
{% endblock %}

{% block content %}
  <h1>
      Add new media
  </h1>
  <div class="module">
    <form id="#myForm" method="post" enctype="multipart/form-data">
      {{ form.as_table }}
      {% csrf_token %}
      <p><input type="submit" value="Save content"></p>
    </form>
  </div>
{% endblock %}