{% extends "base.html" %}
{% block title %}Audios{% endblock %}

{% block content %}
    <div id="content">
        <div id="video-gallery">
            {% for audio in audios %}
                <div data-type="html5video"
                     src="/static/css/images/play_video.png"
                     data-image="/static/css/images/play_video.png"
                     data-videomp4="{{ MEDIA_URL }}{{audio.file}}"
                     data-title="{{audio.title}}"
                     data-description="{{audio.title}}">
                </div>
            {% endfor %}
        </div>
        <ul class="buttons">
            <li><a href="{% url 'gallery:gallery_create' 'audio' %}">Upload an audio</a></li>
            <li class="button"> <a href="{% url 'gallery:homepage' %}">Home</a></li>
        </ul>
    </div>
{% endblock %}
