{% extends "base.html" %}
{% load cache %}
{% block title %}Videos{% endblock %}

{% block content %}
    <div id="content">
        <div id="video-gallery">
                {% for video in videos %}
                    <div data-type="html5video"
                         src="/static/css/images/play_video.png"
                         data-image="/static/css/images/play_video.png"
                         data-videomp4="{{ MEDIA_URL }}{{video.file}}"
                         data-title="{{video.title}}"
                         data-description="{{video.title}}">
                    </div>
                {% endfor %}
        </div>
        <ul class="buttons">
            <li><a href="{% url 'gallery:gallery_create' 'video' %}">Upload an video</a></li>
            <li class="button"> <a href="{% url 'gallery:homepage' %}">Home</a></li>
        </ul>
    </div>
{% endblock %}
